nav {
    height: 50px;
    width: 100vw;
    @include centerDiv();
    justify-content: space-between;
    padding: 0px 20px;
    background-color: $dgray;
    color: $lgray;

    .logo {

        @include centerDiv(row);
        gap:10px;
        img {
            width: 50px;
            max-height:50px;
            border-radius:40%;
        }
    }

    .Navigation {

        @include centerDiv();
        justify-content: flex-end;
        width: 80%;

        .li {
            color: $lgray;
            margin-right: 30px;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
            }
        }
    }

}
