nav {
    height: 50px;
    width: 100vw;
    @include centerDiv();
    justify-content: space-between;
    padding: 0px 20px;
    background-color:$dgray;
    color:$lgray;
    .Navigation{

    @include centerDiv();
        justify-content: flex-end;
        width:80%;
        .li{
            color:$lgray;
            margin-right: 30px;
            text-decoration: underline;
            &:hover{
                cursor:pointer;
            }
        }
    }

}
