aside {
    height: 100%;
    width: 200px;
    @include centerDiv();
    align-items: flex-start;
    background-color: $lgray;
    color: $dgray;


    .load {

        .albums {
            @include centerDiv(column);

            padding: 0;

            li {
                all: unset;
                padding: 10px;
                &:hover{
                    cursor:pointer;
                }
            }

        }



    }
}
