.photo {
    height: 100%;
    width: 100%;
    @include centerDiv(column);
    background-color: $ddgray;

    p {
        font-size: 1.5rem;
        color: $lgray;
    }

    img {
        width: 500px;
    }
}

.filters {
    min-width: 300px;
    height: 100%;

    ul {
        all: unset;
        height: 100%;
        @include centerDiv(column);
        justify-content: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $gray;

        li {
            all: unset;
            width: 100%;
            min-height: 40px;
            border-bottom: 2px solid $dgray;
            border-top: 2px solid $dgray;
            @include centerDiv(column);

            &:hover {
                background-color: $dgray;
                color: $lgray;
            }
        }

        .form {
            @include centerDiv(column);
            margin: 20px 0px;
            min-height: 260px;
            border: none;
            gap: 10px;

            input {
                @include input() ;

            }

            button {
                @include button();
            }

            &:hover {
                background-color: $gray;
                color: $ddgray;
            }
        }
    }
}
